@page "/Caretakers/CaretakerIndex"
@using VerzorgingApp.Shared 
@inherits CaretakerIndexBase

<h1 class="page-title">All Caretakers</h1>

<td>
    <a href="@($"Caretakers/CaretakerAdd/")" class="btn btn-primary table-btn">
        @*<i class="fas fa-info-circle"></i>*@
        Client aanmaken
    </a>
</td>


@if (Caretakers == null)
{
<p><em>Loading...</em></p>}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Date of Birth</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var elder in Caretakers.OfType<Caretaker>())
        {
        <tr>
            <td>@elder.Id</td>
            <td>@elder.FirstName</td>
            <td>@elder.LastName</td>
            <td>@elder.DateofBirth</td>          
            <td>
                <a href="@($"Caretakers/CaretakerDetail/{elder.Id}")" class="btn btn-primary table-btn">
                    @*<i class="fas fa-info-circle"></i>*@
                    Details
                </a>
                <a href="@($"Caretakers/CaretakerEdit/{elder.Id}")" class="btn btn-primary table-btn">
                    @*<i class="fas fa-edit"></i>*@
                    Aanpassen
                </a>
                <a href="@($"Caretakers/CaretakerDelete/{elder.Id}")" class="btn btn-danger table-btn">
                    @*<i class="fas fa-edit"></i>*@
                    Verwijderen
                </a>
            </td>
        </tr>
}
    </tbody>
</table>}
